@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header">
        <div class="box-header" style="text-align: center;">
            <h3 class="box-title" style="font-weight: bold;">Comodity</h3>
        </div>
    </div>
    <div class="box-body">
        <button type="button" class="btn btn-primary" onclick="location.href = '/Comodity/Create'">New</button>

        <br>
        <br>
        <table class="table table-striped  table-hover" id="categoryinfo">
            <thead>
                <tr>

                    <th>Name</th>

                    <th></th>
                </tr>
            </thead>


            <tbody>
                @foreach (System.Data.DataRow item in Model.Rows)
                {
                    <tr id="@item["Id"]">

                        <td>
                            @item["Name"]
                        </td>
                        <td>
                            <div class="btn-group">

                                <button type="button" class="btn btn-primary" onclick="location.href = '/Comodity/Edit/@item["Id"]'">Edit</button>
                                <button type="button" class="btn btn-primary" onclick="DeleteButtonclicked(this);" id="@item["id"]">Delete</button>



                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Bootbox JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>



<script>


    function DeleteButtonclicked(object) {
        bootbox.confirm({
            size: "small",
            message: "Are you sure to delete the selected record?",
            callback: function (result) {
                if (result == true) {
                    jQuery.ajax({
                        url: '/Comodity/Delete',
                        type: 'POST',
                        dataType: 'json',
                        data: { id: object.id },
                        success: function () {

                            $("#" + object.id).remove();
                        },
                        error: function () {
                            alert('error');
                        }
                    })
                }
                else {
                }
            }
        })
    }
</script>

