@model SoftinnBookingSystem.Models.Drivers
@{
    ViewBag.Title = "Create";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Drivers</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="Home/Index">Home</a></li>
                        <li class="breadcrumb-item active">Drivers</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Drivers<small>(New)</small></h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Driver Name</label>
                                    @Html.EditorFor(model => model.DriverName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Driver Name" } })
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" onclick="SaveRecord()" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<script>

    function SaveRecord() {
        var Com = {};
        Com.DriverID = $("#DriverID").val();
        Com.DriverName = $("#DriverName").val();

        if (Com.DriverName == "" || Com.DriverName == 0) {
            bootbox.alert("Please Enter Proper Driver Name");
            $("#DriverName").val();
            return;
        }
        $.ajax({
            type: "POST",
            url: "/Drivers/Create",
            data: JSON.stringify({ Com }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (r) {
                var data = r.split(",");
                if (data[0] == 'rcode') {
                    bootbox.alert("This Driver already Exist");
                    $("#DriverID").focus();
                    return;
                }
                else if (data[0] == 'true') {
                    objproduct.CatagoryID = data[1];
                    if (flagImageExist == 0) {
                        window.location.href = "/Drivers/Index";
                    }
                }
            },
            error: function (x, e) {
                bootbox.alert("Error");
                return;
            },
        });
    }

</script>

